.root {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: #ffffff;
}

#header-text {
    -fx-font-size: 25px;
}

.header-section {
    -fx-background-color: rgb(20, 176, 163);
    -fx-padding: 15px;
}

.header-section Label {
    -fx-text-fill: #ffffff;
    -fx-padding: 10px;
}

#account {
    -fx-text-fill: #fff;
    -fx-font-size: 16px;
    -fx-cursor: hand;
    -fx-background-color: transparent;
}

.sidebar-section {
    -fx-min-width: 200px;
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
    -fx-border-width: 1;
    -fx-border-color: transparent #E8E8E8 transparent transparent;
    -fx-font-size: 25px;
}

.label-section {
    -fx-padding: 30px 0px 0px 25px;
}

/* Permet de sélectionner tous les "Label" contenus dans l'élément ayant pour class "sidebar-section" */
.sidebar-section Label {
    -fx-min-width: 200px;
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
}

.content-section {
    -fx-wrap-text: true;
    -fx-padding: 25px
}

#content-header {
    -fx-font-size: 18px;
    -fx-padding: 0 0 10 0;
    -fx-font-weight: 700;
}

#content {
    -fx-wrap-text: true;
    -fx-font-size: 16px;
}

#footer-section {
    -fx-padding: 10px;
    -fx-alignment: center;
}